<div class="row">
  <div class="col-lg-9 hero-container">
    <!--suppress HtmlUnknownTag -->
    <carousel items="$ctrl.carouselItems"></carousel>
  </div>
  <div class="col-lg-3 links-container"></div>
</div>

<div class="jumbotron text-center">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>
<services></services>
<div class="row">
  <awesome-things list="$ctrl.thoseThings"/>
</div>


