<div class="container">
  <div class="row">
    <h1>Winner 2001 Hampton Roads Volunteer Achievement Award</h1>
    <p>
      This award, presented by Volunteer Hampton Roads, recognizes outstanding volunteer contributions in the community
      by
      a non-profit.
    </p>
  </div>
  <div class="row">
    <h1>
      Winner 1997 L.D.Britt M.D. Community Service Award
    </h1>
    <p>
      This award recognizes outstanding leadership in the field of community service.
    </p>
  </div>
  <div class="row">
    <h1>
      Honored 1995 Community Leader - First National Congress on Cancer Survivorship
    </h1>
  </div>
  <div class="row">
    <h1>
      Winner 1993 Outstanding Organization - Virginia Council on Social Welfare State of Virginia
    </h1>
    <p>
      This award recognizes organizations that have greatly contributed to improving life for citizens in need.
    </p>
  </div>
  <div class="row">
    <h1>
      Winner 1992 Virginia Volunteer Administrator Award
    </h1>
    <p>
      This award recognizes leaders in the field of volunteer administration and is sponsored by three regional
      professional
      associations Colonial Virginia AVA, Northern Virginia AVA and Greater Richmond AVA. Mrs. Filer was founder of
      LEE's
      FRIENDS a support program for cancer patients and their families, established in memory of her daughter Lee
      Harkins.
    </p>
  </div>
  <div class="row">
    <h1>
      Winner 1992 Outstanding Organization - Virginia Council on Social Welfare Tidewater District
    </h1>
  </div>
  <div class="row">
    <h1>
      Winner 1992 Distinguished Merit Award - National Conference of Christians and Jews, Inc.
    </h1>
    <p>
      For dedication to the cause of helping others in need. The award was given to LEE'S FRIENDS and Emily Filer,
      Founding
      Executive Director. The conference which fights religious and racial prejudice honors resident each year who have
      shown the love God in daily life, humanitarian service and service to religious institutions in causes that break
      down
      barriers between faiths.
    </p>
  </div>
  <div class="row">
    <h1>
      Winner 1990 J. C. Penney Golden Rule Award Hampton Roads
    </h1>
    <p>
      A person's worth to a community or nation is no longer measured by his physical assets but rather by his ability
      to
      render service to humanity.
    </p>
  </div>
  <div class="row">
    <h1>
      Winner 1989 Governor's Gold Medal Award for Volunteer Excellence
    </h1>
    <p>
      One of 7 organizations and 22 individuals who won gold medals. "You have demonstrated a commitment to your
      community
      and your neighbors which is truly commendable. I applaud the way in which you have given your time and skills and
      I
      know you will continue to enrich us all with your find deeds. I send you my sincere appreciation for volunteering
      to
      make Virginia a better place for all." Gov. Gerald Baliles.
    </p>
  </div>
  <div class="row">
    <h1>
      Winner 1982 President’s Volunteer Action Award
    </h1>
    <p>
      One of 16 agencies chosen from 2300 nominations for "outstanding volunteer achievement." Nancy Regan said: "This
      testimonial at the White House…is the way the American people can pay tribute to you for your unselfish and humane
      work."
    </p>
  </div>
</div>
