<div class="row">
  <h1>"The
    Complete Lee" by Jane P. Batten, 1978</h1>
  <p>
    A young girl died this spring. It was seemingly
    an untimely death, doubly sad, for she, like the
    earth, was still in her first season. My tidy
    mind balked at the thought of the interrupted
    cycle, the unfinished business of her life, the
    ends of experience not neatly tied. Yet her mother
    showed me photographs taken on a trip shortly
    before her death. A terrible disease has melted
    away the adolescent softness of her face and unveiled
    the beauty of the full blown bloom she was to
    become. Blue eyes, startling large, laughing out
    of a tanned face. Strong nose and chin, elegant
    cheek bones. The unadorned beauty of the fashion
    model in a summer layout. And her courage. Oh,
    the steady going on with the business of life
    in the midst of pain and anxiety. It took no notice
    of the fall signs, life slowing down like nature
    itself in those months. It ignored the nip in
    the air of colder, darker days to come. There
    was humor too, leaping at you unexpectedly like
    the autumn squirrel from a bare branch. She had
    learned a winter wisdom, the peace of the very
    old who come to accept today as a gift and regret
    not yesterday nor count on tomorrow. She warmed
    her hands in front of the fire of love from her
    family and friends and radiated that warmth back
    onto the givers. She, in a short time, fashioned
    a life more full than many five times her age.
    She gleaned everything important a man must know
    to make his living a finished product. The seasons
    of her life proceeded, if too rapidly, in good
    order. When she left the world, her cycle was
    complete, from taker to giver, helplessness to
    strength, babe to sage.
  </p>
</div>
<div class="row">
  <h1>
    Information on Emily Symington Harkins Filer, CVA, Founding
    Executive Director
  </h1>
  <p>
    A labor of love doesn’t begin to describe
    how Emily has approached her work for LEE’S
    FRIENDS over the past twenty-three years. Emily
    was the certified, paid Executive Director and
    volunteer founder of LEE’S FRIENDS, but
    first and foremost she is Lee’s Mom, the
    single most significant reason for dedicating
    her life to achieving the vision of her daughter.
    Undoubtedly, it is largely a mother’s love
    that has made LEE’S FRIENDS the award-winning
    organization it is today.
  </p>
  <p>
    Before Lee’s illness in 1978, Emily had had extensive
    management and leadership training in the health,
    social welfare, education and art fields. In May
    1978, after Lee’s death, the Lee Harkins
    Endowment Committee asked Emily if she would coordinate
    a service program to carry out the mission of
    the endowment. Driven by passion and grief, Emily
    agreed to establish in the summer of 1978 the
    foundation for LEE’S FRIENDS and it has
    been her personal mission ever since. Emily volunteered
    her time for the first seven years of LEE’S
    FRIENDS. She became a certified volunteer administrator
    in 1985 and began getting paid for her leadership
    in 1986. She retired in 2001.
  </p>
  <p>
    Aside from running the daily operation of LEE’S
    FRIENDS, being a driver and providing client services,
    Emily counted among her duties getting to know
    each volunteer personally. She accomplished this
    by teaching in the accredited training course.
    She also wrote and collected articles that were
    published in the monthly newsletter. Perhaps her
    most significant contribution to the longevity
    and success of the organization has been the connections
    she has made in the community, always looking
    for volunteers and support.
  </p>
  <p>On behalf of LEE’S FRIENDS, Emily has been
    a gentle embrace, a warm hug, a tough-love counselor,
    a no-nonsense administrator, a loyal friend, a
    trusted mentor and so many more things to so many
    people in the cancer community, Lee would be proud
    of her Mom and all that she has accomplished to
    grow a quality volunteer service organization.
  </p>
</div>
