<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#home">
        Lee's Friends
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ng-href="#home">Home</a></li>
        <li><a ng-href="#services">Services</a></li>
        <li><a ng-href="#our-mission">Our Mission</a></li>
        <li><a ng-href="#awards">Awards</a></li>
        <li><a ng-href="#about-us">About Us</a></li>
        <li><a ng-href="#faq">FAQ</a></li>

        <li><a ng-href="#">{{ $ctrl.getVariable() }}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>
  </div>
</nav>
