@import '../../globals';

.header {
  background-color: $color-header;
  padding-top: 30px;
  text-align: center;

  border-bottom: 1px $color-font solid;

  color: $color-font;
  a {
    color: $color-font;
  }

  h1 {
    font-family: Gunny, sans-serif;
    font-size: 60px;
  }
  h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    font-weight: 400;
  }

  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
  }
  li {
    float: left;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .more {
    padding-right: 15px;
  }
}
