@import '../../globals';

.header {
  background-color: $color-header;
  padding-top: 30px;
  text-align: center;

  border-bottom: 1px $color-font solid;

  color: $color-font;
  a {
    cursor: pointer;
    color: $color-font;
    text-decoration: none;
  }

  a:hover, a.active-link {
    h2 {
      border-bottom: 1px solid $color-font;
      padding-bottom: 3px;
    }
    h5 {
      border-bottom: 1px solid $color-font;
      padding-bottom: 2px;
    }
  }
  h1 {
    font-family: $font-family-cursive;
    font-size: 60px;
  }
  h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 4px;
  }
  h5 {
    padding-bottom: 3px;
  }

  ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
  }
  li {
    float: left;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .more {
    padding-right: 15px;
  }
}
