@import 'src/app/globals';

.header {
  background-color: $color-header;
  padding-top: 30px;
  text-align: center;

  border-bottom: 1px $color-font solid;
  margin-bottom: 32px;

  color: $color-font;
  a {
    cursor: pointer;
    color: $color-font;
    text-decoration: none;
  }

  a:hover, a.active-link {
    h2 {
      border-bottom: 1px solid $color-font;
      padding-bottom: 3px;
    }
    h5 {
      border-bottom: 1px solid $color-font;
      padding-bottom: 2px;
    }
  }

  .title-image{
      height: 50px;
      float: left;
      margin-top: 5px;
      margin-right: 1em;
  }

  .title {
    float: left;
    font-family: $font-family-cursive;
    font-size: 60px;
  }
  h2 {
    font-weight: 400;
    padding-bottom: 4px;
  }
  .subtitle {
    font-family: $font-family-cursive;
  }

  .menu {
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
  }
  .menu-group {
    display: inline-block;
  }
  .menu-item {
    display: inline-block;
    float: left;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .more {
    display: inline-block;
    padding-right: 15px;

    h5 {
      padding-bottom: 3px;
      font-size: 30px;
    }
  }

  @media only screen and (max-width: 1781px) {

    .menu-item {
      padding: 10px;
      margin-left: 15px;
      margin-right: 15px;
    }

  }
  @media only screen and (max-width: 1701px) {
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 25px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 15px;
    }

    .title {
      font-size: 50px;
    }
    .subtitle {
      font-size: 35px;
    }

    .more h5 {
      font-size: 25px;
    }

    .menu-item {
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @media only screen and (max-width: 1488px) {
    h1 {
      font-size: 35px;
    }
    h2 {
      font-size: 25px;
    }
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 15px;
    }
    h5 {
      font-size: 15px;
    }

    padding-top: 20px;

    > .row {
      margin-top: -5px;
      margin-bottom: -5px;
      margin-left: -5px;
      margin-right: -5px;
    }

    .title {
      font-size: 45px;
    }
    .subtitle {
      font-size: 30px;
    }

    .more h5 {
      font-size: 20px;
    }

    .menu-item {
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @media only screen and (max-width: 1292px) {
    .menu-item {
      padding: 10px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media only screen and (max-width: 1152px) {
    h2 {
      display: inline-block;
    }

    .menu-group {
      float: left;
      width: 33%;
    }
    .menu-item {
      float: left;
      display: block;
      width: 100%;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .menu-group-left a{
      float: left;
    }
    .menu-group-right a {
      float: right;
    }
  }

}
