<div class="container-fluid header">
  <ul class="menu">
    <li><a ng-href="#services"><h2>Services</h2></a></li>
    <li><a ng-href="#our-mission"><h2>Our Mission</h2></a></li>
    <li>
      <a ng-href="#home">
        <h1 class="title">
          Lee's Friends
        </h1>
      </a>
    </li>
    <li><a ng-href="#events"><h2>Events</h2></a></li>
    <li><a ng-href="#awards"><h2>Awards</h2></a></li>
    <li><a ng-href="#about-us"><h2>About Us</h2></a></li>
    <li><a ng-href="#faq"><h2>FAQ</h2></a></li>
  </ul>
</div>
