@import 'globals.scss';

h1 {
  font-family: $font-family-cursive;
  font-size: 60px;
}
h2 {
  font-family: $font-family-cursive;
  font-size: 50px;
}
h3 {
  font-family: $font-family-cursive;
  font-size: 40px;
}
