@import './globals';

.footer {
  font-family: $default-font-family;
}

.container.main {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

body {
  background-color: $color-body;
  color: $color-font-dark;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
