@import './globals';

.footer {
  font-family: $default-font-family;
}

body {
  background-color: $color-body;
  color: $color-font-dark;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
