/* Coolors Exported Palette - coolors.co/10301f-eddd68-53a05b-c1edcc-0c1e10 */

/* HSL */
$color1: hsla(148%, 50%, 13%, 1);
$color2: hsla(53%, 79%, 67%, 1);
$color3: hsla(126%, 32%, 48%, 1);
$color4: hsla(135%, 55%, 84%, 1);
$color5: hsla(133%, 43%, 8%, 1);

/* RGB */
$color1: rgba(16, 48, 31, 1); // 10301f
$color2: rgba(237, 221, 104, 1); // eddd68
$color3: rgba(83, 160, 91, 1); // 53a05b
$color4: rgba(193, 237, 204, 1); // c1edcc
$color5: rgba(12, 30, 16, 1); // 0c1e10
