@import '../../globals.scss';

.row:last-child hr {
  display:none;
}
.more a {
  width: 100%;
  display: block;
  cursor: pointer;
  margin: -15px;
  padding: 15px;
}
.draft-overlay {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: rgba(2, 2, 2, 0.2);
  color: $color-light-gray;
  font-size: 40px;
}
.message {
  margin-right: 1em;
  display: inline-block;
}
