@import '~font-awesome/scss/font-awesome';
@import '~bootstrap/scss/bootstrap';
@import './globals';

body {
  background-color: $color-body;
  color: $color-font;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
