<form (ngSubmit)="onSubmit()" [formGroup]="eventEditForm" class="css-form" class="event-editor">
  <label for="title">Title:
    <input type="text" formControlName="title" [(ngModel)]="event.title" id="title" required/>
  </label>
  <br/>
  <div *ngIf="formErrors.title">
    Set a title.
  </div>

  <label for="date">Date:
    <ng2-datepicker [options]="datepickerOptions" formControlName="date" id="date" required [(ngModel)]="dateModel"></ng2-datepicker>
  </label>
  <br/>
  <div [hidden]="!formErrors.date">
    Set a date for the event.
  </div>

  <label for="{{'content' + (event._id || '')}}">Content:
    <!--<input type="text" [(ngModel)]="event.content" name="eContent" required #eContent="ngModel"/>-->
    <textarea [tinyEditor] [selector]="'content' + (event._id || '')"
              id="{{'content' + (event._id || '')}}"
              formControlName="content"
              [ngModel]="event.content"></textarea>
  </label>
  <br/>
  <div [hidden]="!formErrors.content">
    Set a content for the event.
  </div>
  <br/>

  <input type="submit" value="Save" [disabled]="eventEditForm.invalid"/>
</form>
