<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>
        Services
      </h1>
      <p>
        As a non-profit organization dedicated to cancer care and holistic patient support within the Hampton Roads
        area,
        we
        offer three essential services to those with a cancer diagnosis or their family members. With an objective to
        ease
        the process and management of care, our team works daily to get you to and from appointments, to provide you
        with
        a
        community of understanding individuals, and to assure access to the necessary health equipment for living with a
        cancer diagnosis.
      </p>
      <p>
        To request any of the services listed below, simply call our office at <a
        href="tel:+1-757-440-7501">1-757-440-7501</a> or contact Susan Lawler at
        <a href="mailto:slawler@leesfriends.org">slawler@leesfriends.org</a>.
      </p>
      <b>All of our services are free of charge.</b>
    </div>
  </div>
  <div class="row margin-top-xl">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <service-item [service]="transportationService"></service-item>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <service-item [service]="oneOnOneService"></service-item>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <service-item [service]="basicsService"></service-item>
    </div>
  </div>
</div>
