<form name="form" class="css-form" novalidate>
  <label>Title:
    <input type="text" ng-model="$ctrl.event.title" name="eTitle" required=""/>
  </label>
  <br/>
  <div ng-show="form.$submitted || form.eTitle.$touched">
    <div ng-show="form.eTitle.$error.required">Set a title.</div>
  </div>

  <label>Date:
    <input type="text" ng-model="$ctrl.event.date" name="eDate" required=""/>
  </label>
  <br/>
  <div ng-show="form.$submitted || form.eDate.$touched">
    <span ng-show="form.eDate.$error.required">Set a date for the event.</span>
  </div>

  <label>Content:
    <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.event.content" name="eContent" required=""></textarea>
  </label>
  <br/>
  <div ng-show="form.$submitted || form.eContent.$touched">
    <span ng-show="form.eContent.$error.required">Set a content for the event.</span>
  </div>

  <br/>

  <input type="button" ng-click="reset(form)" value="Reset"/>
  <input type="submit" ng-click="$ctrl.save($ctrl.event)" value="Save"/>
</form>
