{{diagnostic}}

<form (ngSubmit)="save()" name="newEventForm" class="css-form" #newEventForm="ngForm">
  <label for="eTitle">Title:
    <input type="text" [(ngModel)]="event.title" id="eTitle" name="eTitle" required #eTitle="ngModel"/>
  </label>
  <br/>
  <div [hidden]="eTitle.valid || eTitle.pristine">
    Set a title.
  </div>

  <label for="eDate">Date:
    <input type="text" [(ngModel)]="event.date" id="eDate" name="eDate" required #eDate="ngModel"/>
  </label>
  <br/>
  <div [hidden]="eDate.valid || eDate.pristine">
    Set a date for the event.
  </div>

  <label>Content:
    <!--<input type="text" [(ngModel)]="event.content" name="eContent" required #eContent="ngModel"/>-->
    <textarea [tinyEditor] [selector]="'eContent' + (event._id || '')" (ngModelChange)="doNothing()" id="{{'eContent' + (event._id || '')}}" [(ngModel)]="event.content" name="eContent" #eContent="ngModel"></textarea>
  </label>
  <br/>
  <div [hidden]="eContent.valid || eContent.pristine">
    Set a content for the event.
  </div>

  <br/>

  <input type="submit" value="Save" [disabled]="!newEventForm.form.valid"/>
</form>
